{{! template-lint-disable no-invalid-interactive }}
{{#if @name}}
  <span class="align-middle" ...attributes onclick={{this.click}}>
    <i class="bi-{{@name}} d-inline-block lh-1" onclick={{this.click}} />
    {{yield}}
  </span>
{{/if}}