<div class="mb-3">
  <DashboardHeader
    @title={{format-message "Network Traffic"}}
    @description={{format-message
      "Monitor the current traffic of the device"
    }}
    class="mb-4"
  />
  <ChartJs
    @type="line"
    @data={{@traffic}}
    @options={{@options}}
    @height="200"
  />
</div>