<div
  class="mw-100 align-items-center d-flex justify-content-center user-select-none"
  ...attributes
>
  <div class="container text-center">
    <div>
      <h4 class="text-primary">{{@title}}</h4>
    </div>
    {{#if @description}}
      <div class="row fs-6 d-flex mt-4">
        <div class="text-center">
          {{@description}}
        </div>
      </div>
    {{/if}}
  </div>
</div>