<nav class="navbar navbar-expand-md fixed-top v-100" style="max-width: 800px;">
  <div class="position-absolute top-0 start-0 p-1" style="height:2em;">
    <img src="/OpenWrt_Logo.png" class="h-100 mx-auto" />
  </div>
</nav>