<div>
  <div class="row justify-content-md-left">
    <div class="col col-1">
      <BsIcon @name="arrow-up-short" class="text-primary" />
    </div>
    <div class="col col-1">
      {{bandwidth @tx}}
    </div>
  </div>
  <div class="row justify-content-md-left">
    <div class="col col-1">
      <BsIcon @name="arrow-down-short" class="text-primary" />
    </div>
    <div class="col col-1">
      {{bandwidth @rx}}
    </div>
  </div>
</div>