{{page-title "OpenWrt Webui"}}
<BasicDropdownWormhole />
<main class="container bd-main h-100 px-3" style="max-width: 800px;">
    <div class="content justify-content-center overflow-auto">
        {{outlet}}
    </div>
</main>
